@use "mixins";
@use "varibles";


.checkbox {
    display: none;
}

.button {
    width: 1rem;
    position: absolute;
    top: 30px; 
    right: 30px; 
    z-index: 2000;
    text-align: center; 
    cursor: pointer;

    @include mixins.for-size(tablet) {
        display: none;
    }
}

nav {
    position: relative;
    top: 0;
    right: 0;
    opacity: 0;
    width: 0;
    transition: all 0.2s;

    @include mixins.for-size(tablet) {
        opacity: 1;
    }
}

.checkbox:checked ~ .background {
    transform: scale(80);
}
.checkbox:checked ~ nav {
    opacity: 1;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
    width: 2rem;
    height: 4px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.6rem;
}
.icon::after {
    top: 0.6rem;
}

.button:hover icon:before {
    top: -1rem;
}
.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked + .button .icon {
    background-color: transparent;
}

.checkbox:checked + .button .icon::before {
    top: 0;
    transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}
