@use "varibles" as var;

// breakpoints 
@mixin for-size($screensize) {
    @if $screensize == tablet {
        @media screen and (min-width: var.$tablet) {
            @content;
        }
    }@else if $screensize == desktop {
        @media screen and (min-width: var.$desktop) {
            @content;
        }
    }
}


@mixin box($color, $height: 100vh) {
    height: $height;
    background-color: $color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin firstpage-box{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

@mixin footer-box{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 30px;
    padding: 40px;
    font-size: 1.1rem;
}



@mixin header{
    background-image: url(./../assets/assets/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-position: center;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin profil-box {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@mixin text-box {
    height: auto;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);

    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text {
    margin: 40px;
}

@mixin image-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.274);
}

// hamburgermenu test

    .checkbox {
        display: none;
    }
    
    .button {
        width: 1rem;
        border-radius: 50%;
        position: absolute;
        top: 3vh; 
        right: 5vw; 
        z-index: 2000;
        text-align: center; 
        cursor: pointer;
    }
    
    nav {
    
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }
    
    nav {
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.2s;
    }
    
    .list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    
    .item {
        margin: 1rem;
        font-size: 36px;
    }
    
    .link:link,
    .link:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
        );
        background-size: 220%;
        transition: all 0.4s;
    }
    

    
    /* functionality */
    .checkbox:checked ~ .background {
        transform: scale(80);
    }
    .checkbox:checked ~ nav {
        opacity: 1;
        width: 100%;
        right: 0;
    }
    
    /*  */
    /* styling hamb ICON */
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .icon,
    .icon::before,
    .icon::after {
        width: 2rem;
        height: 4px;
        background-color: white;
        display: inline-block;
        border-radius: 10px;
    }
    
    .icon::before,
    .icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
    }
    
    .icon::before {
        top: -0.6rem;
    }
    .icon::after {
        top: 0.6rem;
    }
    
    .button:hover icon:before {
        top: -1rem;
    }
    .button:hover icon::after {
        top: 1rem;
    }
    
    .checkbox:checked + .button .icon {
        background-color: transparent;
    }
    
    .checkbox:checked + .button .icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    .checkbox:checked + .button .icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
    