@use "mixins";
@use "varibles";

header {
    @include mixins.header;

    @include mixins.for-size(tablet) {
        background-color: palevioletred;
    }

    @include mixins.for-size(desktop) {
        background-color: yellowgreen;
    }
}

nav {
    width: 100%;
    @include mixins.box(rgba(220, 220, 220, 0.103), 16%);
    justify-content: end;

    & ul {
        list-style: none;
        padding: 0;
        margin-bottom: 5px;
    }

    & a {
        text-decoration: none;
        color: white;
    }
   
}

header .title-container {
    
    @include mixins.firstpage-box;
    align-items: center;
    color: white;

}

.button-container {
    height: auto;
}

.ham-container {
    width: auto;
}

h5 {
    margin: 0;
}

header p {
    font-size: 1.4rem;
    text-align: center;
}


main {
    gap: 30px;
    @include mixins.box(white, 100%);
}


.profil-container {
    @include mixins.profil-box
}


.description-container {
    @include mixins.text-box
}

.quotationmark {
    font-size: 2rem;
}

.img-container {
    @include mixins.image-box 
}

img {
    border-radius: 50%;
}


footer {
    @include mixins.footer-box;

    & .text-container {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 10px;
        width: 80%;
    }

}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.socialmedia-icon {
    width: 30px;
}
