@use "mixins";
@use "varibles";

header {
    @include mixins.header;

    @include mixins.for-size(tablet) {
        background-color: palevioletred;
    }

    @include mixins.for-size(desktop) {
        background-color: yellowgreen;
    }
}

nav {
    width: 100%;
    @include mixins.box(rgba(255, 255, 255, 0.100), 13%);

    & ul {
        list-style: none;
        padding: 0;
    }

    & a {
        text-decoration: none;
        color: white;
    }
   
}

header .title-container {
    color: white;
    @include mixins.firstpage-box;

}

.button-container {
    @include mixins.box(rgb(146, 231, 255), 10%)
}


h5 {
    margin: 0;
}


main {
    gap: 30px;
    @include mixins.box(white, 100%);
}


.profil-container {
    @include mixins.profil-box
}


.description-container {
    @include mixins.text-box
}

main blockquote {
    quotes: "“" "”";
    @include mixins.text;
    &::before {
        content: open-quote;
        font-size: 4rem; 
    }
}

.img-container {
    @include mixins.image-box 
}

img {
    border-radius: 50%;
}


footer {
    @include mixins.footer-box;

    & .text-container {
        display: flex;
        flex-direction: column;
        color: white;
    }

}
